<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="About Cars dealership website for buying and browsing cars."
    />
    <title>AutoHub - About Us</title>
    <link rel="stylesheet" href="../Style/Style.css" />
  </head>
  <body class="home-background">
    <!-- Navbar -->
    <nav class="Index-navbar">
      <div>
        <img
          src="../Assets/Logo.png"
          alt="Automative Logo"
          width="200"
          height="150"
        />
      </div>
      <div class="links">
        <div class="nav-item">
          <a href="index.html" class="nav-link">Home</a>
        </div>
        <div class="nav-item">
          <a href="Login.html" class="nav-link">Login</a>
        </div>
        <div class="nav-item">
          <a href="Signup.html" class="nav-link">Register</a>
        </div>
        <div class="nav-item">
          <a href="About-us.html" class="nav-link">About Us</a>
        </div>
        <div class="nav-item">
          <a href="Contact-Us.html" class="nav-link">Contact Us</a>
        </div>
        <div class="nav-item">
          <a href="Buy-Browse.html" class="nav-link">Buy/Browse</a>
        </div>
      </div>
    </nav>

    <!-- Hero Content -->
    <div class="hero-content">
      <div class="about-us-container">
        <h1>About AutoHub</h1>
        <p>
          Welcome to AutoHub, your trusted destination for browsing and buying
          premium cars. We are passionate about connecting car enthusiasts with
          their dream vehicles. Our platform offers a seamless experience for
          exploring a wide range of cars, from sleek sports cars to reliable
          family vehicles.
        </p>
        <p>
          At AutoHub, we prioritize customer satisfaction and strive to provide
          exceptional service. Our team is dedicated to assisting you in finding
          the perfect car that matches your preferences and budget. Whether
          you're a first-time buyer or a seasoned car enthusiast, we are here to
          make your car buying journey enjoyable and hassle-free.
        </p>
      </div>
    </div>
  </body>
</html>
