<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Contact AutoHub - Premium car dealership."
    />
    <title>AutoHub - Contact Us</title>
    <link rel="stylesheet" href="../Style/Style.css" />
  </head>
  <body class="home-background">
    <!-- Navbar -->
    <nav class="Index-navbar">
      <div>
        <img
          src="../Assets/Logo.png"
          alt="Automative Logo"
          width="200"
          height="150"
        />
      </div>
      <div class="links">
        <div class="nav-item">
          <a href="index.html" class="nav-link">Home</a>
        </div>
        <div class="nav-item">
          <a href="Login.html" class="nav-link">Login</a>
        </div>
        <div class="nav-item">
          <a href="Signup.html" class="nav-link">Register</a>
        </div>
        <div class="nav-item">
          <a href="About-us.html" class="nav-link">About Us</a>
        </div>
        <div class="nav-item">
          <a href="Contact-Us.html" class="nav-link">Contact Us</a>
        </div>
        <div class="nav-item">
          <a href="Buy-Browse.html" class="nav-link">Buy/Browse</a>
        </div>
      </div>
    </nav>

    <!-- Hero Content -->
    <div class="hero-content">
      <div class="contact-us-container">
        <h1>Contact Us</h1>
        <p>
          We value your feedback and inquiries. Please feel free to reach out to
          us using the contact form below or through the provided contact
          information. Our team is dedicated to assisting you with any questions
          or concerns you may have regarding our services, vehicles, or any
          other inquiries.
        </p>
        <p>
          You can also connect with us through our social media channels for the
          latest updates and news. We look forward to hearing from you and
          providing you with the best possible assistance.
        </p>
      </div>
    </div>
  </body>
</html>
