<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Patrick" />
    <meta
      name="description"
      content="OTP Verification page for the Cars Dealership website."
    />
    <meta name="keywords" content="cars, dealership, OTP, username, password" />
    <title>OTP Verification Page</title>
    <style>
      @import url("../Style/Style.css");
    </style>
  </head>
  <body class="background-otp">
    <div class="OTP-box">
      <h2 class="OTP-title">Forgot Password</h2>

      <!-- OTP Input -->
      <div>
        <input class="input-OTP" placeholder="Enter OTP Code" required />
        <div class="line" id="Oline"></div>
      </div>

      <!-- Action Message -->
      <div>
        <p class="action" id="action">Awaiting Action...</p>
      </div>

      <!-- Check Button -->
      <div>
        <button class="OTP-btn" onclick="Check()">Check OTP</button>
      </div>

      <!-- Links -->
      <div class="signup-section">
        <a class="signup-link" href="Signup.html"
          >Don't Have An Account? SignUp!
        </a>
        <div class="remember-section">
          <a class="remember-link" href="Login.html">Remember Password?</a>
        </div>
      </div>
    </div>
    <script src="../Script/Script.js"></script>
  </body>
</html>
